<div class="row">
  <div class="small-12 columns">
    <p id="notice"><%= notice %></p>

    <h1>Files for <%= link_to @agent.hostname, agent_path(@agent) %></h1>
    <table>
      <thead>
        <tr>
          <th>Filename</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
        <% @documents.each do |document| %>
          <tr>
            <td><%= link_to document.filename, disposition_path(id: document.fingerprint) %></td>
            <td><%= document.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
